.bingo-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.bingo-title {
  font-size: 10vh;
  text-transform: uppercase;
}

td {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

